<div class="wrapper">
  <div class="box">
    <section class="box_section">
      <div class="title">
        <h3>title</h3>
      </div>
      <div class="action">
        <h3>Action</h3>
      </div>
    </section>
    <div class="line"></div>
    <section class="box_section-content">
      <h4>Country</h4>
      <div class="buttons">
        <a (click)="read('country')">Read</a>
        <a>Create</a>
        <a>Search</a>
        <a>Update</a>
        <a>Delete</a>
      </div>
    </section>
    <div class="line"></div>
    <section class="box_section-content">
      <h4>Type</h4>
      <div class="buttons">
        <a (click)="read('type')">Read</a>
        <a>Create</a>
        <a>Search</a>
        <a>Update</a>
        <a>Delete</a>
      </div>
    </section>
    <div class="line"></div>
    <section class="box_section-content">
      <h4>HoliDay</h4>
      <div class="buttons">
        <a (click)="read('holi')">Read</a>
        <a>Create</a>
        <a>Search</a>
        <a>Update</a>
        <a>Delete</a>
      </div>
    </section>
  </div>
</div>
